*{margin:0px;}
body{
  background: linear-gradient(24deg,red,blue);
  }
section{
  display: grid;
  grid-template-rows: repeat(3,500px);
  grid-template-columns: repeat(3,33%)
  margin : 50px, auto;
}
article{
  width: 500px;
  height: 500px;
  margin: 50px auto;
  position: relative;
  perspective: 3000px;
}
.cubo {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;

}
.cubo div {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 5px solid white;
  position: absolute;
  animation-name:cambiar;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  transition-delay:8s linear 2s;
}
.cara1{
   transform: rotateX(0deg) translateZ(-100px);
}
.cara3{
   transform: rotateX(0deg) translateZ(100px);
}
.cara2{
   transform: rotateX(90deg) translateZ(-100px);
}
.cara4{
   transform: rotatex(90deg) translateZ(100px);
}
.cara5{
   transform: rotatey(90deg) translateZ(-100px);
}
.cara6{
   transform: rotatey(90deg) translateZ(100px);
}
.cubo{
  animation-name:rotar,crecer;
  animation-duration : 5s;
  animation-iteration-count: infinite;

}

  @keyframes rotar{
    0%{
      transform: rotateX(360deg)rotatey(0deg);
    }
    80%{
      transform: rotatex(40deg)rotatey(320deg);

    }
    100%{
      transform: rotatex(0deg)rotatey(360deg);
    }
  }  @keyframes cambiar{
    0%{
      background: linear-gradient(0deg,pink,pink,white);
      border-radius: 250px;
    }
    50%{
      background: linear-gradient(300deg,white,pink,pink);
      border-radius: 0px;
    }
    100%{
      background: linear-gradient(360deg,pink,white,pink);
      border-radius: 250px;
    }
  } @keyframes crecer{
    0%{
      transform: scale3d(1);
      border-radius: 250deg;
    }
    100%{
      transform: scale3d(2);
      border-radius: 0deg;
    }
  }
  .cubo:hover div{
    border: 5px solid blue;
    animation-duration: 5s;
    
  }
